<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <p>
    <%= message %>
  </p>
  <form action="/students/edit" method="POST">
    <input type="hidden" value="<%=id%>" name="id">
    First name: <input value="<%=firstName%>" type="text" name="firstName" title="firstName" /><br />
    Last Name: <input value="<%=lastName%>" type="text" name="lastName" title="lastName" /><br />
    Date of Birth: <input value="<%=dateOfBirth%>" type="date" name="dateOfBirth" title="dateOfBirth"><br />
    Tuition fees: <input value="<%=tuitionFees%>" type="text" name="tuitionFees" title="tuitionFees"><br />
    <button type="submit">Edit</button>
  </form>
</body>

</html>